body {
  background-color: #c0d4e8;
  padding-top: 5vh;
  padding-bottom: 10vh;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  margin: 1em 0;
  text-align: center;
}

:global {
  .zorp {
    color: red;
  }
}
