<div id="onScope">
  <p>Here's a few interesting things.</p>
  <p>This div right here, the dark one with the white text—this styling you're seeing here that contrasts so starkly with the rest of the styling on this page—all this styling is defined in the stylesheet for the route just above this one.  It's a thumbprinted class parent defining classes for its global child id.  And that works fine.</p>
  <p class={{styles.quote}}>This is a local class.  No selector ballyhooes here.</p>
  <p class={{styles.gulliver}}>Now, observe.  This is a local class.  Its local definition has red text.  If I don't understand css-modules I'll be able to change it to green text with parent selectors. If I do, or if I'm doing something dead wrong, this text will remain red.</p>
</div>
