/* line 1, ../styles/app.scss */
body {
  background-color: #c0d4e8;
  padding-top: 5vh;
  padding-bottom: 10vh;
  font-family: 'Ubuntu', sans-serif;
}

/* line 8, ../styles/app.scss */
nav {
  margin: 1em 0;
  text-align: center;
}

/* line 14, ../styles/app.scss */
:global .zorp {
  color: red;
}
