<div id="mainPanel">
  <div id="mainContent">
    <h2 id="title">Welcome to the Test Zone</h2>

    <p>I have eaten the plums that were in the icebox, and which you were probably saving for breakfast.  Forgive me: they were delicious—so sweet, and so cold.</p>

    <quote>To be or not to be.  That is the question: whether 'tis nobler in the mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and, by opposing, end them.  To die, to sleep: no more! And by a sleep we mean to end the heartache, and the thousand natural shocks that flesh is heir to? 'Tis a consummation devoutly to be wished.</quote>

    <nav>{{link-to "Home" "application" class=""}} {{link-to "Buttons" "buttons" class=""}} {{link-to "Responsive" "responsive" class=""}}</nav>

    {{outlet}}
  </div>
</div>
